<nb-layout>
  <nb-layout-column>
    <div class="stepper">
      <nb-stepper #stepper>
        <nb-step [stepControl]="firstForm" label="First step" >
          <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" novalidate class="step-container">
            <div>
              <input nbInput fullWidth shape="round" required id="email" type="text" formControlName="email">
              <label for="email">Email <span aria-hidden="true">*</span></label>
            </div>

            <div class="invalid-feedback">
              <span> {{ queryError }} </span>
            </div>

            <div class="button">
              <button  [nbSpinner]="loadingSpinner" nbSpinnerSize="medium" nbSpinnerStatus="danger" nbButton shape="round" size="medium" status="success" type="submit" [disabled]="firstForm.invalid">
                <span *ngIf="loadingSpinner === false">Verifry Email</span>
                <span *ngIf="loadingSpinner === true" [nbSpinner]="loadingSpinner">Loading...</span>
              </button>
              <button class="next-button" nbButton shape="round" size="medium" status="success" [disabled]="!enableStepper" (click)="stepper.next()" nbStepperNext>next</button>
            </div>
          </form>
        </nb-step>
        <nb-step [stepControl]="secondForm" label="Second step">
          <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" novalidate class="step-container">
            <div>
              <input nbInput fullWidth shape="round" required id="password" type="password" formControlName="password">
              <label for="password">Password <span aria-hidden="true">*</span></label>
            </div>

            <div class="invalid-feedback">
              <span> {{ queryError }} </span>
            </div>

            <div class="button">
              <button class="next-button" nbButton shape="round" size="medium" status="success" (click)="stepper.previous()" nbStepperPrevious>Prev</button>
              <button [nbSpinner]="loadingSpinner" nbSpinnerSize="medium" nbSpinnerStatus="danger" nbButton shape="round" size="medium" status="success" type="submit" [disabled]="secondForm.invalid">
                <span *ngIf="loadingSpinner === false">Save</span>
                <span *ngIf="loadingSpinner === true" [nbSpinner]="loadingSpinner">Loading...</span>
              </button>
            </div>
          </form>
        </nb-step>
      </nb-stepper>
    </div>
  </nb-layout-column>
</nb-layout>
