<swiper class="swiperStyle" effect="fade" [loop]="true" [autoplay]="true" [lazy]="true" [pagination]="{ clickable: true }" [navigation]="true" class="mySwiper">
  <ng-template swiperSlide>
    <!-- add [zoom]="true"  [slidesPerView]="2" [spaceBetween]="50"
      <div class="swiper-zoom-container"></div>
      -->
    <img data-src="assets/original.jpg" class="swiper-lazy"/>
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
  </ng-template>

  <ng-template swiperSlide>
    <img data-src="assets/large.jpg" class="swiper-lazy"/>
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
  </ng-template>

  <ng-template swiperSlide>
    <img data-src="assets/medium.jpg" class="swiper-lazy"/>
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
  </ng-template>

  <ng-template swiperSlide>
    <img data-src="assets/small.jpg" class="swiper-lazy"/>
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
  </ng-template>

  <ng-template swiperSlide>
    <img data-src="assets/jocelyn-morales-ekwuJB37fm4-unsplash.jpg" class="swiper-lazy"/>
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
  </ng-template>

  <ng-template swiperSlide>
    <img data-src="assets/kari-shea-AVqh83jStMA-unsplash.jpg" class="swiper-lazy"/>
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
  </ng-template>

  <ng-template swiperSlide>
    <img data-src="assets/khloe-arledge--GjyAyPSMQg-unsplash.jpg" class="swiper-lazy"/>
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
  </ng-template>

  <ng-template swiperSlide>
    <img data-src="assets/scott-webb-QD-mtViB5Ks-unsplash.jpg" class="swiper-lazy"/>
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
  </ng-template>

  <ng-template swiperSlide>
    <img data-src="assets/toa-heftiba-yN33yGmulWE-unsplash.jpg" class="swiper-lazy"/>
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
  </ng-template>
</swiper>
