<app-spinner *ngIf="loadingSpinner === true"></app-spinner>

<div *ngIf="loadingSpinner === false">
  <h2 *ngIf="categories.length === 0">No categories yet</h2>

  <div *ngIf="categories.length !== 0">
    <div class="container">
      <nb-card status="info" class="flex-item" *ngFor="let category of categories">
        <nb-card-header>{{category.name}}</nb-card-header>
        <nb-card-body>
          <img (click)="onClick(category.id)" src="{{category.fileURL}}" alt="{{category.fileName}}">
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
