<div class="centerElement">
  <h3 class="titlecenter">{{this.title}}</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="topMargin">
      <input accept="image/x-png, image/jpeg, image/jpg" nbInput fullWidth shape="round" id="file" type="file" formControlName="file" (change)="onFileSecelected($event)" [ngClass]="{ 'is-invalid': submitted && f.file.errors }">
      <label for="file">Image <span aria-hidden="true">(png, jpeg, jpg)</span></label>
      <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
        <div *ngIf="f.file.errors.required">Image is required</div>
      </div>
    </div>

    <div class="topMargin">
      <input nbInput fullWidth shape="round" required id="name" type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <label for="name">Name <span aria-hidden="true">*</span></label>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>

    <div class="topMargin">
      <input nbInput fullWidth shape="round" id="productCode" type="text" formControlName="productCode" [ngClass]="{ 'is-invalid': submitted && f.productCode.errors }">
      <label for="productCode">Product Code <span aria-hidden="true">*</span></label>
      <div *ngIf="submitted && f.productCode.errors" class="invalid-feedback">
        <div *ngIf="f.productCode.errors.required">Product Code is required</div>
      </div>
    </div>

    <div class="topMargin">
      <input nbInput fullWidth shape="round" id="price" type="number" formControlName="price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
      <label for="price">Price <span aria-hidden="true">*</span></label>
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
        <div *ngIf="f.price.errors.required">Price is required</div>
      </div>
    </div>

    <div class="hidden">
      <input nbInput fullWidth shape="round" required id="fileURL" type="text" formControlName="fileURL">
      <label for="fileURL">fileURL <span aria-hidden="true">*</span></label>
    </div>

    <div class="topMargin meduimwidh selectStyle">
      <ng-select class="ng-select" formControlName="category" name="categories" notFoundText="No Match" bindValue="id" bindLabel="name" [hideSelected]="true" [multiple]="false">
        <ng-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ng-option>
      </ng-select>
    </div>

    <nb-card class="topMargin">
      <nb-card-body class="example-items-rows">
        <nb-checkbox id="isFavorite" formControlName="isFavorite" status="success" (checkedChange)="isFavoriteEvent($event)">isFavorite</nb-checkbox>
        <nb-checkbox id="isAvailable" formControlName="isAvailable" status="success" (checkedChange)="isAvailableEvent($event)">isAvailable</nb-checkbox>
      </nb-card-body>
    </nb-card>


    <div class="hidden">
      <input nbInput fullWidth shape="round" id="fileName" type="text" formControlName="fileName">
      <label for="fileName">fileName <span aria-hidden="true">*</span></label>
    </div>

    <div class="invalid-feedback">
      <span> {{ queryError }} </span>
    </div>
    <button [nbSpinner]="loadingSpinner" nbSpinnerSize="medium" nbSpinnerStatus="danger" nbButton shape="round" size="medium" status="success" type="submit" [disabled]="form.invalid">
      <span *ngIf="loadingSpinner === false">Save</span>
      <span *ngIf="loadingSpinner === true" [nbSpinner]="loadingSpinner">Loading...</span>
    </button>
  </form>
</div>


