<app-spinner *ngIf="loadingSpinner === true"></app-spinner>

<div *ngIf="loadingSpinner === false">
  <h2 *ngIf="tableDataSource.length === 0">No products yet</h2>

  <nb-card class="tableStyle" *ngIf="tableDataSource">
    <nb-card-body>
      <div class="table-header">
        <input nbInput [(ngModel)]="searchedKeyword" placeholder="Search..." id="search" class="search-input">
        <button nbButton shape="semi-round" outline status="success" size="large" (click)="create()"><nb-icon icon="plus-square-outline"></nb-icon></button>
      </div>

      <table [nbTreeGrid]="tableDataSource" [dataSource]="tableDataSource | filter:searchedKeyword | paginate: { itemsPerPage: size, currentPage: currentPage, totalItems: totalItems }">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="columnsItems"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: columnsItems"></tr>

        <ng-container nbTreeGridColumnDef="id" >
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>ID</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row; let index=index">{{index+1}}</td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="productCode" >
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Code</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.productCode}}</td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="name" >
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Name</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="image" >
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Image</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            <img width="100" height="100" src="{{row.fileURL}}" alt="{{row.fileName}}">
          </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="view" >
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Details</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="view(row.id)"><nb-icon icon="eye-outline"></nb-icon></td>
        </ng-container>
      </table>
    </nb-card-body>
    <nb-card-footer class="pagination">
      <pagination-controls maxSize="9" responsive="true" (pageChange)="getPage(currentPage = $event)"></pagination-controls>
    </nb-card-footer>
  </nb-card>
</div>
