@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

@import "~@ng-select/ng-select/themes/default.theme.css";

@import '~swiper/swiper-bundle';

html, body { height: 100%; }
body {
  margin: 0 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
}
